<footer>
    <div class="f-info-brand">&copy; Wanderlust,Inc </div>
    <div class="f-info-links">
        &bull;&nbsp;&nbsp;<a href="/privacy">Privacy</a>
        &bull;&nbsp;&nbsp;<a href="/terms">Terms&nbsp;</a>
        &bull;&nbsp;&nbsp;<a href="/companyDetails">Company details</a>
    </div>
    <div class="f-info-socials">
        <a href=""><i class="fa-brands fa-square-instagram"></i></a>
        <a href=""><i class="fa-brands fa-square-linkedin"></i></a>
        <a href=""><i class="fa-brands fa-square-snapchat"></i></a>
    </div>
</footer>