<% layout("/layouts/boilerplate") -%>
<body>
    <h1>All listings</h1>
    <form action="/listings/new", method="post">
        <button type="submit">Create a new Listing</button>
    </form>
    <ul>
        <% for (let listing of listingData) { %>
            <li>
                <a href="/listings/<%=listing._id%>">
                    <%=listing.title%>
                </a>
            </li>
        <% } %>
    </ul>
</body>