<% layout("/layouts/boilerplate") -%>
<body>
    <br><br>
    <h3>Create a new listing for your property</h3>
    <form action="/listings/createListing" method="post" id="createForm">
        <div class="mb-3">
            <b><label for="titleInput" class="form-label">Title</label></b>
            <input type="text" name="titleInput" id="titleInput" class="form-control" placeholder="Enter the title for your property">
        </div>
        <div class="mb-3">
            <b><label for="descInput" class="form-label">Description </label></b>
            <textarea 
                name="descInput" 
                id="descInput" 
                class="form-control"
                cols="50" 
                rows="2" 
                placeholder="Write some things about your property..."></textarea>
        </div>
        <div class="row mb-3">
            <div class="col-md-4">
                <b><label for="priceInput" class="form-label">Enter a per night price for your property (INR) </label></b>
                <input 
                    type="number" 
                    id="priceInput" 
                    class="form-control"
                    name="priceInput" 
                    min="0" step="0.01" 
                    placeholder="0.00">
            </div>
            <div class="col-md-8">
                <b><label for="countryInput" class="form-label">Country</label></b>
                <select name="countryInput" id="countryInput"  class="form-control">
                    <option value="">Select a country...</option>
                    <% countries.forEach(function(name) { %>
                        <option value="<%= name %>"><%= name %></option>
                    <% }); %>
                </select>
            </div>
        </div>
        <div class="mb-3">
            <b><label for="locationInput" class="form-label">Location</label></b>
            <input type="text" name="locationInput" id="locationInput"  class="form-control" placeholder="Enter the rough location of the property">
        </div>
        <br>
        <button type="submit" class="btn btn-outline-dark">Create the listing</button>
    </form>
    <br><br><br>
</body>