<% layout("/layouts/boilerplate") -%>
<body>
    <h2>Create a new listing for your property</h2>
    <form action="/listings/createListing" method="post" id="createForm">
        <div>
            <label for="titleInput">Enter the title for your property: </label>
            <input type="text" name="titleInput" id="titleInput">
        </div>
        <div>
            <label for="descInput">Write a description about your property: </label>
            <textarea name="descInput" id="descInput" cols="40" rows="2" placeholder="Write some things about your property..."></textarea>
        </div>
        <div>
            <label for="priceInput">Enter a per night price for your property (INR): </label>
            <input type="number" id="priceInput" name="priceInput" min="0" step="0.01" placeholder="0.00">
        </div>
        <div>
            <label for="locationInput">Enter the rough location of the property</label>
            <input type="text" name="locationInput" id="locationInput">
        </div>
        <div>
            <label for="countryInput">Enter the country your property is in:</label>
            <select name="countryInput" id="countryInput">
                <option value="">Select a country...</option>
                <% countries.forEach(function(name) { %>
                    <option value="<%= name %>"><%= name %></option>
                <% }); %>
            </select>
        </div>
        <button  type="submit">Create the listing</button>
    </form>
</body>